<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
  <ul>
    <li><a href="/">main</a></li>
    <li><a href="/price">main</a></li>
    <li><a href="/contacts">main</a></li>
  </ul>
    {{{body}}}

</body>
</html>
